{% extends 'base.html.twig' %}

{% block title %} Pokedex {% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-4">Podédex</h1>
    {% for generation in generations %}
    <p>Nom génération : {{ generation.name }}</p>
    <p>Url : {{ generation.url }}</p>
        <br/>
    {% endfor %}
</div>

{% endblock %}